body p{
	font-size: 18px;
}

body label{
	font-size: 18px;
}

.scroll-bar{
  	overflow: scroll;	
}

.contact-item {
	padding: 10px 15px;
    margin-bottom: 3px;
    margin-top: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#contacts{
	padding: 0px;
}

.contacts label{
	display: block;
}

.name-company p {
	font-size: 24px;
}

.details .row {
	margin: 5px 15px 5px 15px;
}

.details-head{
	padding: 10px 0px 10px 0px;
	font-size: 120%;
}

.details-head div{
	padding-top: 20px;
}

.details .title {
	margin: 0;
}

.details .desc {
	font-weight: 700;
}

/*@media (max-width: 992px)
.hidden-md{
	display: none;
}*/

.fakeScroll{ position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; min-height:70%; height:1px; width:500px; }
.scrollContent{ padding-top:1em; padding-bottom:1em; }
.scrollWrap{ background:#FFF; border-radius:4px; -moz-box-sizing:border-box; box-sizing:border-box; }
/* upper and bottom fades */
.scrollWrap::before{ content:''; position:absolute; z-index:1; top:0; left:0; right:0; height:5%;
    background: -webkit-linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
}

.scrollWrap::after{ content:''; position:absolute; z-index:1; bottom:0; left:0; right:0; height:5%;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
    background: linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
}