body p{
	font-size: 18px;
}

body label{
	font-size: 18px;
}

@media screen and (min-width: 992px) {
	.name-company {
		padding-top: 20px;
	}
	.name-company p {
		font-size: 24px;
	}
}

.alert-default{
    color: #727372;
    background-color: #f2f3f2;
    border-color: #e8e8e8;
}

.alert-container {
	padding: 15px;
}

.contact-item {
	padding: 10px 15px;
    margin-bottom: 3px;
    margin-top: 4px;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
}

.active {
	color: #fff;
    background-color: #bbb;
    border-color: #aaa;
}

.contact-item:hover {
	background-color: #ccc;
	border: 1px solid #bbb;
}

#contacts{
	padding: 0px;
	overflow-y: scroll;	
  	position: absolute;
  	top: 0;
  	bottom: 0;
}

.contacts label{
	display: block;
}

.contact-name{
	font-size: 22px;
	margin: 0;
    font-weight: 700;
}

.pointer {
	cursor: pointer;
}

.details .row {
	margin: 5px 15px 5px 15px;
}

.details-head{
	padding: 10px 0px 10px 0px;
	font-size: 120%;
}

.details .title {
	margin: 0;
	color: gray;
}

.no-margin {
	margin: 0;
}

.details .desc {
	font-weight: 700;
}

@media screen and (min-width: 992px) {
    .hidden-md {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .hidden-sm {
        display: none;
    }
}